<html lang="en">
<head>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>

<body id="page-top" class="sidebar-toggled">

    <!-- Page Wrapper -->
    <div id="wrapper" >
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html" style="color:blanchedalmond">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">HAVA DURUMU </div>
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Şehirler
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="" data-target=""
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Malatya</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                  <h3 style="color:blue">TÜRKİYE HAVA DURUMU</h3>
                   
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                  <div class="container" style="background-color:lightyellow;">
                    <!-- Content Column -->
                    <div class="col-lg-12 mb-4">
                      Stamata Revithi (Yunanca: Σταμάτα Ρεβίθη, 1866, Sire - 1896 sonrası), 1896 Yaz Olimpiyatları sırasında 40 kilometrelik maraton koşan Yunan kadındır. Organizasyonda sadece erkek sporcular yarışabilmesine karşın Revithi, koşmasına izin verilmesi konusunda ısrarcı oldu. Erkeklerin koştuğu resmî maratonun tamamlamasından bir gün sonra aynı parkuru koşarak, maratonu yaklaşık 5 saat 30 dakikada bitirmesine ve koşu süresini doğrulayacak şahitleri olmasına rağmen, koşusu sonunda Panathinaiko Stadyumu'na girmesine müsaade edilmedi. Belgelerini, başarısını kabul edecekleri umuduyla Yunan Olimpiyat Komitesine sunma girişiminde bulunsa da bunu yapıp yapmadığı bilinmemektedir. Revithi'nin koşusundan sonraki hayatı hakkında bilinen bir kayıt mevcut değildir.
                      Çağdaş kaynaklara göre aynı maratonu koştuğu belirtilen "Melpomene" adında ikinci bir kadının ise Revithi ile aynı kişi olup olmadığı konusunda Olimpiyat tarihçileri arasında farklı görüşler bulunmaktadır. 
                    </div>
                  </div>
                  <div class="container" style="background-color:lightcyan;">
                    <!-- Content Column -->
                    <div class="col-lg-12 mb-4">
                      Stamata Revithi (Yunanca: Σταμάτα Ρεβίθη, 1866, Sire - 1896 sonrası), 1896 Yaz Olimpiyatları sırasında 40 kilometrelik maraton koşan Yunan kadındır. Organizasyonda sadece erkek sporcular yarışabilmesine karşın Revithi, koşmasına izin verilmesi konusunda ısrarcı oldu. Erkeklerin koştuğu resmî maratonun tamamlamasından bir gün sonra aynı parkuru koşarak, maratonu yaklaşık 5 saat 30 dakikada bitirmesine ve koşu süresini doğrulayacak şahitleri olmasına rağmen, koşusu sonunda Panathinaiko Stadyumu'na girmesine müsaade edilmedi. Belgelerini, başarısını kabul edecekleri umuduyla Yunan Olimpiyat Komitesine sunma girişiminde bulunsa da bunu yapıp yapmadığı bilinmemektedir. Revithi'nin koşusundan sonraki hayatı hakkında bilinen bir kayıt mevcut değildir.
                      Çağdaş kaynaklara göre aynı maratonu koştuğu belirtilen "Melpomene" adında ikinci bir kadının ise Revithi ile aynı kişi olup olmadığı konusunda Olimpiyat tarihçileri arasında farklı görüşler bulunmaktadır. 
                    </div>
                  </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; mkygsz 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>